# Merke: Damit Java mit der Klasse java.util.Properties diese Datei verarbeiten kann,
#        müssen die Pfade normalisiert werden, d.h. mit escapen des Backslashes.
#        In einer Batch-Datei unter Windows ist das wohl kein Problem, das \\ in Windows automatisch nur als 1x \ erkannt wird.
#        Trotzdem ist es für eine Batch angeraten dies zu berücksichtigen:
#        set "REL=!REL:\\=\!"

# Quelle (Java-Projekt)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: SRC_BASE=C:\\Workspace\\tomcat202512\\webapps\\qisserver
# auf ERMANARICH RECHNER: SRC_BASE=C:\\Workspace\\tomcat202512\\webapps\\qisserver

# Ziel (Git-Repo)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: DST_BASE=C:\\HIS-Workspace\\1fgl\\repo\\Eclipse202312\\HIS_QISSERVER_FGL
# auf ERMANARICH RECHNER: DST_BASE=C:\\1fgl\\repo\\Eclipse202312\\HIS_QISSERVER_FGL

# Mappings (relativ zu den Basispfaden)
MAP_1=WEB-INF\conf\importdata\gx-hisinone_tubaf-dev.xml\WEB-INF
MAP_2=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unit_tubaf-dev.vm\WEB-INF
MAP_3=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unitPrePO4TUBAF.vm\WEB-INF
MAP_4=WEB-INF\templates\dbinterface\hisinone\sospos-pord3_tubaf-dev.vm\WEB-INF
MAP_5=WEB-INF\templates\dbinterface\hisinone\sospos-pord3FallgruppeA4TUBAF.vm\WEB-INF
MAP_6=WEB-INF\templates\dbinterface\hisinone\sospos-pordFallgruppeB4TUBAF.vm\WEB-INF
MAP_7=WEB-INF\templates\dbinterface\hisinone\zuordnung-gesamtkontoFallgruppeB4TUBAF.vm\WEB-INF
MAP_8=WEB-INF\templates\dbinterface\hisinone\sospos-pord_tubaf-dev.vm\WEB-INF
MAP_9=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unitPrePO4TUBAF.vm\WEB-INF

# Suchkonfigurationsdateien für CustomSettings - Bescheide
MAP_10=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchFach-custom-settings4TUBAF.xml\WEB-INF
MAP_11=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchSemesterPeriod-custom-settings4TUBAF.xml\WEB-INF
MAP_12=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchSemesterPeriodDetailed-custom-settings4TUBAF2.xml\WEB-INF
MAP_13=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchStudiengangByStudent-custom-settings4TUBAF.xml\WEB-INF
MAP_14=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchStudiengangByStudentSimple-custom-settings4TUBAF.xml\WEB-INF
MAP_15=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchStudiengang-custom-settings4TUBAF.xml\WEB-INF
MAP_16=WEB-INF\conf\cs\sys\genericSearch\conf\cs\sys\reporting\customSettings\searchSubjects-custom-settings4TUBAF.xml\WEB-INF

# Libre Office Templates
MAP_17=WEB-INF\templates\oooreporting\tubaf\common\footerWithLabel.odt\WEB-INF
MAP_18=WEB-INF\templates\oooreporting\tubaf\common\headerCertificate.odt\WEB-INF
MAP_19=WEB-INF\templates\oooreporting\tubaf\common\headerWithLogo.odt\WEB-INF
MAP_20=WEB-INF\templates\oooreporting\tubaf\common\headerWithLogoDE.odt\WEB-INF
MAP_21=WEB-INF\templates\oooreporting\tubaf\common\headerWithLogoEN.odt\WEB-INF
MAP_22=WEB-INF\templates\oooreporting\tubaf\common\salutationForLetter.odt\WEB-INF
MAP_23=WEB-INF\templates\oooreporting\tubaf\common\salutationForLetterEN.odt\WEB-INF
MAP_24=WEB-INF\templates\oooreporting\tubaf\common\testPlaceholderInTemplate.odt\WEB-INF
MAP_25=WEB-INF\templates\oooreporting\tubaf\common\testUitextInTemplate.odt\WEB-INF
MAP_26=WEB-INF\templates\oooreporting\tubaf\common\verification.odt\WEB-INF
MAP_27=WEB-INF\templates\oooreporting\tubaf\common\verificationEN.odt\WEB-INF
MAP_28=WEB-INF\templates\oooreporting\tubaf\common\verificationWithDisclaimer.odt\WEB-INF
MAP_29=WEB-INF\templates\oooreporting\tubaf\common\verificationWithDisclaimerEN.odt\WEB-INF
MAP_30=WEB-INF\templates\oooreporting\tubaf\app\common\bottomGreetings.odt\WEB-INF
MAP_31=WEB-INF\templates\oooreporting\tubaf\app\common\bottomGreetingsEN.odt\WEB-INF
MAP_32=WEB-INF\templates\oooreporting\tubaf\app\common\bottomGreetingsWithClerk.odt\WEB-INF
MAP_33=WEB-INF\templates\oooreporting\tubaf\app\common\bottomGreetingsWithClerkEN.odt\WEB-INF
MAP_34=WEB-INF\templates\oooreporting\tubaf\app\common\topWithAddress.odt\WEB-INF
MAP_35=WEB-INF\templates\oooreporting\tubaf\app\common\topWithAddressAndContact.odt\WEB-INF
MAP_36=WEB-INF\templates\oooreporting\tubaf\app\common\topWithAddressAndContactEN.odt\WEB-INF
MAP_37=WEB-INF\templates\oooreporting\tubaf\app\common\topWithAddressEN.odt\WEB-INF
MAP_38=WEB-INF\templates\oooreporting\tubaf\app\common\topWithoutText.odt\WEB-INF
MAP_39=WEB-INF\templates\oooreporting\tubaf\app\common\topWithoutTextEN.odt\WEB-INF
MAP_40=WEB-INF\templates\oooreporting\tubaf\stu\common\bottomGreetings.odt\WEB-INF
MAP_41=WEB-INF\templates\oooreporting\tubaf\stu\common\bottomGreetingsEN.odt\WEB-INF
MAP_42=WEB-INF\templates\oooreporting\tubaf\stu\common\bottomGreetingsWithClerk.odt\WEB-INF
MAP_43=WEB-INF\templates\oooreporting\tubaf\stu\common\bottomGreetingsWithClerkEN.odt\WEB-INF
MAP_44=WEB-INF\templates\oooreporting\tubaf\stu\common\salutationForLetter.odt\WEB-INF
MAP_45=WEB-INF\templates\oooreporting\tubaf\stu\common\salutationForLetterEN.odt\WEB-INF
MAP_46=WEB-INF\templates\oooreporting\tubaf\stu\common\salutationForLetterGenderNeutral.odt\WEB-INF
MAP_47=WEB-INF\templates\oooreporting\tubaf\stu\common\salutationForLetterGenderNeutralEN.odt\WEB-INF
MAP_48=WEB-INF\templates\oooreporting\tubaf\stu\common\salutationForPersonInformation01.odt\WEB-INF
MAP_49=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddress.odt\WEB-INF
MAP_50=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressEN.odt\WEB-INF
MAP_51=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressAndContact.odt\WEB-INF
MAP_52=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressAndContactEN.odt\WEB-INF
MAP_53=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressSalutation.odt\WEB-INF
MAP_54=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressSalutationEN.odt\WEB-INF
MAP_55=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressSalutationAndContactEN.odt\WEB-INF
MAP_56=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressGenderNeutral.odt\WEB-INF
MAP_57=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressGenderNeutralEN.odt\WEB-INF
MAP_58=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressGenderNeutralAndContact.odt\WEB-INF
MAP_59=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressGenderNeutralAndContactEN.odt\WEB-INF
MAP_60=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressSalutationGenderNeutral.odt\WEB-INF
MAP_61=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithAddressSalutationGenderNeutralEN.odt\WEB-INF
MAP_62=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutAddress.odt\WEB-INF
MAP_63=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutAddressEN.odt\WEB-INF
MAP_64=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutAddressButContact.odt\WEB-INF
MAP_65=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutAddressButContactEN.odt\WEB-INF
MAP_66=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutAddressButSalutation.odt\WEB-INF
MAP_67=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutAddressButSalutationEN.odt\WEB-INF
MAP_68=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutText.odt\WEB-INF
MAP_69=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutTextButContact.odt\WEB-INF
MAP_70=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutTextButContactEN.odt\WEB-INF
MAP_71=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithoutTextEN.odt\WEB-INF
MAP_72=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithText.odt\WEB-INF
MAP_73=WEB-INF\templates\oooreporting\tubaf\stu\common\topWithTextEN.odt\WEB-INF
MAP_74=WEB-INF\templates\oooreporting\tubaf\app\uitext\ImmaBedingtServicepaket01.odt\WEB-INF
MAP_75=WEB-INF\templates\oooreporting\tubaf\app\uitext\ImmaBedingtServicepaket01EN.odt\WEB-INF
MAP_76=WEB-INF\templates\oooreporting\tubaf\app\uitext\ImmaServicepaket01.odt\WEB-INF
MAP_77=WEB-INF\templates\oooreporting\tubaf\app\uitext\ImmaServicepaket01EN.odt\WEB-INF
MAP_78=WEB-INF\templates\oooreporting\tubaf\stu\uitext\Exmatrikulation01.odt\WEB-INF
MAP_79=WEB-INF\templates\oooreporting\tubaf\stu\uitext\Exmatrikulation01Empty.odt\WEB-INF
MAP_80=WEB-INF\templates\oooreporting\tubaf\stu\uitext\Exmatrikulation02.odt\WEB-INF
MAP_81=WEB-INF\templates\oooreporting\tubaf\stu\uitext\Exmatrikulation02Empty.odt\WEB-INF
MAP_82=WEB-INF\templates\oooreporting\tubaf\stu\uitext\ExmatrikulationDetail.odt\WEB-INF
MAP_83=WEB-INF\templates\oooreporting\tubaf\stu\uitext\Gebuehrenimmatrikulation01.odt\WEB-INF
MAP_84=WEB-INF\templates\oooreporting\tubaf\stu\uitext\Gebuehrenimmatrikulation02.odt\WEB-INF
MAP_85=WEB-INF\templates\oooreporting\tubaf\stu\uitext\RenteDetail.odt\WEB-INF
MAP_86=WEB-INF\templates\oooreporting\tubaf\stu\uitext\StgFinished01.odt\WEB-INF
MAP_87=WEB-INF\templates\oooreporting\tubaf\stu\uitext\StgFinished02.odt\WEB-INF
MAP_88=WEB-INF\templates\oooreporting\tubaf\stu\uitext\StgFinishedDetail.odt\WEB-INF
