# Merke: Damit Java mit der Klasse java.util.Properties diese Datei verarbeiten kann,
#        müssen die Pfade normalisiert werden, d.h. mit escapen des Backslashes.
#        In einer Batch-Datei unter Windows ist das wohl kein Problem, das \\ in Windows automatisch nur als 1x \ erkannt wird.
#        Trotzdem ist es für eine Batch angeraten dies zu berücksichtigen:
#        set "REL=!REL:\\=\!"

# Quelle (Java-Projekt)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: SRC_BASE=C:\Workspace\tomcat202512\webapps\qisserver
# auf ERMANARICH RECHNER: SRC_BASE=C:\Workspace\tomcat202512\webapps\qisserver

# Ziel (Git-Repo)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: DST_BASE=C:\HIS-Workspace\1fgl\\repo\Eclipse202312\HIS_QISSERVER_FGL
# auf ERMANARICH RECHNER: DST_BASE=C:\1fgl\repo\Eclipse202312\HIS_QISSERVER_FGL

# Mappings (relativ zu den Basispfaden)
MAP_1=WEB-INF\\conf\\importdata\\gx-hisinone_tubaf-dev.xml
MAP_2=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-duplicate_unit_tubaf-dev.vm
MAP_3=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-duplicate_unitPrePO4TUBAF.vm
MAP_4=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-pord3_tubaf-dev.vm
MAP_5=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-pord3FallgruppeA4TUBAF.vm
MAP_6=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-pordFallgruppeB4TUBAF.vm
MAP_7=WEB-INF\\templates\\dbinterface\\hisinone\\zuordnung-gesamtkontoFallgruppeB4TUBAF.vm
MAP_8=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-pord_tubaf-dev.vm
MAP_9=WEB-INF\\templates\\dbinterface\\hisinone\\sospos-duplicate_unitPrePO4TUBAF.vm

# Suchkonfigurationsdateien für Bescheide CustomSettings
MAP_10=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchFach-custom-settings4TUBAF.xml
MAP_11=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchSemesterPeriod-custom-settings4TUBAF.xml
MAP_12=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchSemesterPeriodDetailed-custom-settings4TUBAF2.xml
MAP_13=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchStudiengangByStudent-custom-settings4TUBAF.xml
MAP_14=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchStudiengangByStudentSimple-custom-settings4TUBAF.xml
MAP_15=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchStudiengang-custom-settings4TUBAF.xml
MAP_16=WEB-INF\\conf\\cs\\sys\\genericSearch\\conf\\cs\\sys\\reporting\\customSettings\\searchSubjects-custom-settings4TUBAF.xml

# Neu angehängte Zeile(n) am ( 2026-8-14_12_27 )
MAP_17=WEB-INF\\templates\\oooreporting\\tubaf\\common\\footerWithLabel.odt
MAP_18=WEB-INF\\templates\\oooreporting\\tubaf\\common\\headerCertificate.odt
MAP_19=WEB-INF\\templates\\oooreporting\\tubaf\\common\\headerWithLogo.odt
MAP_20=WEB-INF\\templates\\oooreporting\\tubaf\\common\\headerWithLogoDE.odt
MAP_21=WEB-INF\\templates\\oooreporting\\tubaf\\common\\headerWithLogoEN.odt
MAP_22=WEB-INF\\templates\\oooreporting\\tubaf\\common\\salutationForLetter.odt
MAP_23=WEB-INF\\templates\\oooreporting\\tubaf\\common\\salutationForLetterEN.odt
MAP_24=WEB-INF\\templates\\oooreporting\\tubaf\\common\\testPlaceholderInTemplate.odt
MAP_25=WEB-INF\\templates\\oooreporting\\tubaf\\common\\testUitextInTemplate.odt
MAP_26=WEB-INF\\templates\\oooreporting\\tubaf\\common\\verification.odt
MAP_27=WEB-INF\\templates\\oooreporting\\tubaf\\common\\verificationEN.odt
MAP_28=WEB-INF\\templates\\oooreporting\\tubaf\\common\\verificationWithDisclaimer.odt
MAP_29=WEB-INF\\templates\\oooreporting\\tubaf\\common\\verificationWithDisclaimerEN.odt
MAP_30=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\bottomGreetings.odt
MAP_31=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\bottomGreetingsEN.odt
MAP_32=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\bottomGreetingsWithClerk.odt
MAP_33=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\bottomGreetingsWithClerkEN.odt
MAP_34=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\topWithAddress.odt
MAP_35=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\topWithAddressAndContact.odt
MAP_36=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\topWithAddressAndContactEN.odt
MAP_37=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\topWithAddressEN.odt
MAP_38=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\topWithoutText.odt
MAP_39=WEB-INF\\templates\\oooreporting\\tubaf\\app\\common\\topWithoutTextEN.odt
MAP_40=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\bottomGreetings.odt
MAP_41=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\bottomGreetingsEN.odt
MAP_42=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\bottomGreetingsWithClerk.odt
MAP_43=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\bottomGreetingsWithClerkEN.odt
MAP_44=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\salutationForLetter.odt
MAP_45=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\salutationForLetterEN.odt
MAP_46=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\salutationForLetterGenderNeutral.odt
MAP_47=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\salutationForLetterGenderNeutralEN.odt
MAP_48=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\salutationForPersonInformation01.odt
MAP_49=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddress.odt
MAP_50=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressEN.odt
MAP_51=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressAndContact.odt
MAP_52=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressAndContactEN.odt
MAP_53=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressSalutation.odt
MAP_54=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressSalutationEN.odt
MAP_55=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressSalutationAndContactEN.odt
MAP_56=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressGenderNeutral.odt
MAP_57=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressGenderNeutralEN.odt
MAP_58=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressGenderNeutralAndContact.odt
MAP_59=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressGenderNeutralAndContactEN.odt
MAP_60=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressSalutationGenderNeutral.odt
MAP_61=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithAddressSalutationGenderNeutralEN.odt
MAP_62=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutAddress.odt
MAP_63=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutAddressEN.odt
MAP_64=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutAddressButContact.odt
MAP_65=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutAddressButContactEN.odt
MAP_66=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutAddressButSalutation.odt
MAP_67=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutAddressButSalutationEN.odt
MAP_68=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutText.odt
MAP_69=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutTextButContact.odt
MAP_70=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutTextButContactEN.odt
MAP_71=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithoutTextEN.odt
MAP_72=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithText.odt
MAP_73=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\common\\topWithTextEN.odt
MAP_74=WEB-INF\\templates\\oooreporting\\tubaf\\app\\uitext\\ImmaBedingtServicepaket01.odt
MAP_75=WEB-INF\\templates\\oooreporting\\tubaf\\app\\uitext\\ImmaBedingtServicepaket01EN.odt
MAP_76=WEB-INF\\templates\\oooreporting\\tubaf\\app\\uitext\\ImmaServicepaket01.odt
MAP_77=WEB-INF\\templates\\oooreporting\\tubaf\\app\\uitext\\ImmaServicepaket01EN.odt
MAP_78=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\Exmatrikulation01.odt
MAP_79=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\Exmatrikulation01Empty.odt
MAP_80=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\Exmatrikulation02.odt
MAP_81=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\Exmatrikulation02Empty.odt
MAP_82=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\ExmatrikulationDetail.odt
MAP_83=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\Gebuehrenimmatrikulation01.odt
MAP_84=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\Gebuehrenimmatrikulation02.odt
MAP_85=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\RenteDetail.odt
MAP_86=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\StgFinished01.odt
MAP_87=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\StgFinished02.odt
MAP_88=WEB-INF\\templates\\oooreporting\\tubaf\\stu\\uitext\\StgFinishedDetail.odt
