# Quelle (Java-Projekt)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: SRC_BASE=C:\Workspace\tomcat202412\webapps\qisserver
# auf ERMANARICH RECHNER: SRC_BASE=C:\Workspace\tomcat202412\webapps\qisserver

# Ziel (Git-Repo)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: DST_BASE=C:\HIS-Workspace\1fgl\repo\Eclipse202312\HIS_QISSERVER_FGL
# auf ERMANARICH RECHNER: DST_BASE=C:\1fgl\repo\Eclipse202312\HIS_QISSERVER_FGL

# Mappings (relativ zu den Basispfaden)
MAP_1=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unit_tubaf-dev.vm
MAP_2=WEB-INF\templates\dbinterface\hisinone\sospos-pord3_tubaf-dev.vm
MAP_3=WEB-INF\conf\importdata\gx-hisinone_tubaf-dev.xml
MAP_4=WEB-INF\templates\dbinterface\hisinone\sospos-pord_tubaf-dev.vm
