# Quelle (Java-Projekt)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: SRC_BASE=C:\Workspace\tomcat202512\webapps\qisserver
# auf ERMANARICH RECHNER: SRC_BASE=C:\Workspace\tomcat202512\webapps\qisserver

# Ziel (Git-Repo)
# nun per Kommandozeilen übergeben
# auf TUBAF RECHNER: DST_BASE=C:\HIS-Workspace\1fgl\repo\Eclipse202312\HIS_QISSERVER_FGL
# auf ERMANARICH RECHNER: DST_BASE=C:\1fgl\repo\Eclipse202312\HIS_QISSERVER_FGL

# Mappings (relativ zu den Basispfaden)
MAP_01=WEB-INF\conf\importdata\gx-hisinone_tubaf-dev.xml
MAP_02=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unit_tubaf-dev.vm
MAP_03=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unitPrePO4TUBAF.vm
MAP_04=WEB-INF\templates\dbinterface\hisinone\sospos-pord3_tubaf-dev.vm
MAP_05=WEB-INF\templates\dbinterface\hisinone\sospos-pord3FallgruppeA4TUBAF.vm
MAP_06=WEB-INF\templates\dbinterface\hisinone\sospos-pordFallgruppeB4TUBAF.vm
MAP_07=WEB-INF\templates\dbinterface\hisinone\zuordnung-gesamtkontoFallgruppeB4TUBAF.vm
MAP_08=WEB-INF\templates\dbinterface\hisinone\sospos-pord_tubaf-dev.vm
MAP_09=WEB-INF\templates\dbinterface\hisinone\sospos-duplicate_unitPrePO4TUBAF.vm

# Libre Office Templates
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/salutationForLetterEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/salutationForPersonInformation01.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddress.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddressAndContact.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddressAndContactEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddressEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddressSalutation.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddressSalutationAndContactEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithAddressSalutationEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutAddress.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutAddressButContact.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutAddressButContactEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutAddressButSalutation.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutAddressButSalutationEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutAddressEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutText.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutTextButContact.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutTextButContactEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithoutTextEN.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithText.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/common/topWithTextEN.odt

MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/Exmatrikulation01.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/Exmatrikulation01Empty.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/Exmatrikulation02.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/Exmatrikulation02Empty.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/ExmatrikulationDetail.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/Gebuehrenimmatrikulation01.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/Gebuehrenimmatrikulation02.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/RenteDetail.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/StgFinished01.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/StgFinished02.odt
MAP_10=WEB-INF/templates/oooreporting/tubaf/stu/uitext/StgFinishedDetail.odt

MAP_10=WEB-INF/conf/cs/sys/genericSearch/conf/cs/sys/reporting/customSettings/searchSemesterPeriod-custom-settings4TUBAF.xml
MAP_10=WEB-INF/conf/cs/sys/genericSearch/conf/cs/sys/reporting/customSettings/searchFach-custom-settings4TUBAF.xml
MAP_10=WEB-INF/conf/cs/sys/genericSearch/conf/cs/sys/reporting/customSettings/searchStudiengangByStudent-custom-settings4TUBAF.xml
MAP_10=WEB-INF/conf/cs/sys/genericSearch/conf/cs/sys/reporting/customSettings/searchStudiengang-custom-settings4TUBAF.xml

MAP_10=WEB-INF/conf/printout/publishModul/hisinone/student/publishStudienverlauf4TUBAF.xml